*{margin: 0;padding: 0;box-sizing: border-box;}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

.container{
    max-width: 1140px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}

header{
    position:absolute;
    left: 0px; 
    right: 0px;
    border-bottom: 1px solid #584f56;
    padding: 0 15px;
    z-index: 10;
}

header .row{
    justify-content: space-between;
    align-items: center;
}

header .brand-name a{
    text-decoration: none;
    font-size: 22px;
    font-weight: 600px;
    color: #fff;
    text-transform: uppercase;
    position: relative;
}

header .brand-name span{
    color: rgb(255, 136, 0);
}

header .navbar{}

header .navbar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

header .navbar ul li{
    display: inline-block;
    margin-left: 35px;
}

header .navbar ul li a{
    font-size: 1em;
    text-decoration: none;
    line-height: 72px;
    font-weight: 600;
    color: #fff; 
    display: block;
    text-transform: uppercase;
    position: relative;
}

header .navbar ul li a::before{
    content: '';
    height: 3px;
    background-color: #fff;
    width: 0%;
    position: absolute;
    right: 0;
    bottom: -1px;
    transition: all 0.5s ease;
}

header .navbar ul li a:hover::before{
    width: 100%;
    left: 0;
}

header .navbar ul li a.active::before{
    width: 100%;
    left: 0;
}

.home{
    min-height: 100vh;
    background-image: url(../img/kawser.jpg);
    background-size: cover;
    background-position: center;
    padding: 15px;
}

.home .full-screen{
    min-height: 100vh;
}

.home .home-content{
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.home .home-content .block{
    flex: 0 0 75%;
    max-width: 75%;
    padding-left: 35px;
    border-left: 5px solid #fff;
    margin-top: 50px;
}

.home .home-content .block h6{
    color: #fff;
    font-size: 1.1em;
    font-weight: 500;
    margin: 0;
    padding: 0;
}
.home .home-content .block h1{
    color: #fff;
    font-size: 4em;
    font-weight: 600;
    margin: 0;
    padding: 0;
}
.home .home-content .block h3{
    color: #fff;
    font-size: 1.563em;
    font-weight: 500;
    margin: 0;
    padding: 0;
}
.home .home-content .block .cv-btn{
    padding-top: 20px;
}
.home .home-content .block .cv-btn a{
    border: 1px solid #fff;
    border-radius: 4px;
    color: #fff;
    padding: 12px 25px;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 0.5s ease;
    background-color: transparent;
}

.home .home-content .block .cv-btn a:hover{
    background-color: #fff;
    color: #000000;
}