@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

*{margin: 0px;padding: 0px;box-sizing: border-box;}



body{font-family: 'Poppins', sans-serif;}
.container{max-width: 1140px; margin: auto;}
.row{display: flex; flex-wrap: wrap;}


/*--- header style start ---*/

header{
    position:absolute;
    left: 0px; 
    right: 0px;
    border-bottom: 1px solid #584f56;
    padding: 0px 15px;
    z-index: 10;
}

header .row{
    justify-content: space-between;
    align-items: center;
}

header .brand-name a{
    text-decoration: none;
    font-size: 22px;
    font-weight: 600px;
    color: #fff;
    text-transform: uppercase;
    position: relative;
}

header .brand-name span{
    color: #ff8800;
}

header .navbar ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

header .navbar ul li{
    display: inline-block;
    margin-left: 35px;
}

header .navbar ul li a{
    font-size: 1em;
    text-decoration: none;
    line-height: 72px;
    font-weight: 600;
    color: #fff; 
    display: block;
    text-transform: uppercase;
    position: relative;
}

header .navbar ul li a::before{
    content: '';
    height: 3px;
    background-color: #fff;
    width: 0%;
    position: absolute;
    right: 0px;
    bottom: -1px;
    transition: all 0.5s ease;
}

header .navbar ul li a:hover::before{
    width: 100%;
    left: 0px;
}

header .navbar ul li a.active::before{
    width: 100%;
    left: 0px;
}
/*--- header style end ---*/

/*--- home style start ---*/
.home{
    min-height: 100vh;
    background-image: url(../img/kawser.jpg);
    background-size: cover;
    background-position: center;
    padding: 15px;
}

.home .full-screen{
    min-height: 100vh;
}

.home .home-content{
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.home .home-content .block{
    flex: 0 0 75%;
    max-width: 75%;
    padding-left: 35px;
    border-left: 5px solid #fff;
    margin-top: 50px;
}

.home .home-content .block h6{
    color: #fff;
    font-size: 1.1em;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
}
.home .home-content .block h1{
    color: #fff;
    font-size: 4em;
    font-weight: 600;
    margin: 0px;
    padding: 0px;
}
.home .home-content .block h3{
    color: #fff;
    font-size: 1.563em;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
}
.home .home-content .block .cv-btn{
    padding-top: 20px;
}
.home .home-content .block .cv-btn a{
    border: 1px solid #fff;
    border-radius: 4px;
    color: #fff;
    padding: 12px 25px;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 0.5s ease;
    background-color: transparent;
}

.home .home-content .block .cv-btn a:hover{
    background-color: #fff;
    color: #000000;
}
/*--- home style end ---*/

/* About me style start */

.about-me{
    padding: 100px 15px;
    background: #fff;
}

.about-me .section-title{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
}

.about-me .section-title h1{
    display: inline-block;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 700;
    color: #000000;
    margin: 0 0 10px;
    position: relative;
}
.about-me .section-title h1::before{
    content: '';
    height: 3px;
    background-color: #febd01;
    left: 0px;
    bottom: -3px;
    right: 30%;
    position: absolute;

}
.text-uppercase{
    text-transform: uppercase!important;
}
.about-me .section-title p.small{
    display: block;
    font-size: 1em;
    color: #838383;
    font-weight: 400;
    letter-spacing: 2px;
}


.about-me .about-content .img{
    flex: 0 0 33.33%;
    max-width: 33.33%;
}

.about-me .about-content .img img{
    width: 100%;
    display: block;
}

.about-me .about-content .text{
    flex: 0 0 66.66%;
    max-width: 66.66%;
    padding-left: 30px;
}

.about-me .about-content .text h4{
    font-size: 1.5em;
    font-weight: 600;
    margin: 0 0  5px;
    color: #000000;
}
.about-me .about-content .text h6{
    font-size: 1.10em;
    font-weight: 500;
    margin: 0 0  10px;
    color: #000000;
}
.about-me .about-content .text h6 span{
    color: #febd01;
}
.about-me .about-content .text p{
    font-size: 0.9em;
    font-weight: 400;
    line-height: 24px;
    color: #838383;
    margin: 0 0 20px;
}

.about-me .about-content .text .info{
    /* background-color: #d5d5d5; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.about-me .about-content .text .info .list{
    flex: 0 0 calc(50% - 15px);
    max-width: calc(50% - 15px);
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 10px;
}
.about-me .about-content .text .info .list label{
    padding-right: 10px;
    color: #000000;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;

}
.about-me .about-content .text .info .list p{
    margin: 0;
}

.about-me .about-content .text .social-links{
    padding-top: 30px;
}

.about-me .about-content .text .social-links a{
    height: 30px;
    width: 30px;
    background-color: #000000;
    border-radius: 3px;
    display: inline-block;
    border: 1px solid #000000;
    line-height: 28px;
    text-align: center;
    margin: 0 1px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.about-me .about-content .text .social-links a:hover{
    background-color: transparent;
}
.about-me .about-content .text .social-links a .fa{
    color: #fff;
    font-size: 12px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
} 

.about-me .about-content .text .social-links a:hover .fa{
    color: #000000;
}




/* About me style end */